.site-header {
	margin-bottom: $spacing-large;
	padding-bottom: $spacing-small;
	border-bottom: $spacing-rule dotted $c-grey-light;
}

.site-nav {
	display: block;
	position: relative;
	padding: $spacing 0 0 0;
	list-style: none;

	&__menu {
		list-style-type: none;
		margin: 0 0 $spacing 0;
		padding: 0;

		@media ($screen-smalltablet) {
			margin-bottom: 0;
		}

		&--sub {
			display: none;
			position: relative;

			@media ($screen-smalltablet) {
				position: absolute;
			}
		}
	}

	&__link {
		display: block;
		height: 50px;		
		text-align: left;
		padding: 0 $spacing;
		line-height: 50px;
		border: none;
		border-right: 1px solid #fff;
		background: $c-grey-lighter;
		text-decoration: none;
		color: $c-blue-dark;

		@media ($screen-smalltablet) {
			text-align: center;
			padding: 0;
		}

		&:focus {
			background: $c-yellow;
			outline: none;
		}

		&:hover {
			background: $c-blue;
			color: $c-grey-lighter;
		}

		&--current {
			background-color: $c-yellow-light;
		}

		&--button {
			width: 100%;
			cursor: pointer;

			@media ($screen-smalltablet) {
				padding-right: 16px;
			}

			&:after {
				content: "";
				position: absolute;
				width: 18px;
				height: 18px;
				top: 16px;
				right: 5px;
				display: block;
				background: transparent url(/asset/image/svg/arrow-down.svg) 0 0 no-repeat;
				transition: 100ms linear all;

				@media ($screen-tablet) {
					right: 13px;
				}
			}

			&:hover:after {
				background-image: url(/asset/image/svg/arrow-down-white.svg);
			}
		}
	}

	&__item {
		display: inline-block;
		position: relative;
		float: none;
		width: 100%;

		@media ($screen-smalltablet) {
			float: left;
			width: 20%;
		}

		&--sub {
			width: 100%;
		}

		&--has-submenu.is-open {
            .site-nav__menu--sub {
                display: block;
            }

            .site-nav__link--button {
                background: $c-blue;
                color: $c-grey-lighter;

                &:after {
                    background-image: url(/asset/image/svg/arrow-down-white.svg);
                    transform: rotate(-180deg);
                }
            }
        }
	}
}
