.no-js {
    .site-nav__item--has-submenu {
        &:hover {
            .site-nav__menu--sub {
                display: block;
            }

            .site-nav__link--button {
                background: $c-blue;
                color: $c-grey-lighter;

                &:after {
                    background-image: url(/asset/image/svg/arrow-down-white.svg);
                    transform: rotate(-180deg);
                }
            }
        }
    }
}