---
---

// NOTE: all these styles are temporary! When somebody
// actually comes along and designs this site, they
// should most likely tear this all down.

@import "vendor/normalize";

// Tweak `pre` styles to work on mobile
pre {
	overflow: auto;
}

// Page width/positioning
.page {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
}

// Site navigation
.site-navigation {
	list-style: none;
	padding-left: 0;
}
.site-navigation__subnav {
	list-style: none;
	padding-left: 20px;
}
.site-navigation__item--current > a {
	background-color: #ff0;
}
