---
---

// NOTE: all these styles are temporary! When somebody
// actually comes along and designs this site, they
// should most likely tear this all down.

@import "vendor/normalize";

// Type tweaks just for better reading
pre {
	overflow: auto;
}

// Page width/positioning
.page {
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
}

// Construction notice
.construction-notice {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #ffc;
}
.construction-notice__content {
	margin: 0;
	font-size: 14px;
}

// Site navigation
.site-navigation {
	list-style: none;
	padding-left: 0;
}
.site-navigation__subnav {
	list-style: none;
	padding-left: 20px;
}
.site-navigation__item--current > a {
	background-color: #ff0;
}

// Emoji (because you know I've got my priorities straight)
.emoji {
	vertical-align: bottom;
}
