
<div class="construction-notice">
	<p class="construction-notice__content">
		<b>:construction: Under Construction :construction:</b><br/>
		Hello. You're browsing the new yet incomplete Pa11y website. You trailblazer, you!
		This site isn't ready for a major audience,
		but <a href="/contact/">we'd still love your feedback</a>.
	</p>
</div>

<header role="banner" class="site-header">

	<a href="/">Pa11y</a>

	<nav role="navigation">
		<ul class="site-navigation">

			<li class="site-navigation__item {% if page.url == '/contributing/' %}site-navigation__item--current{% endif %}">
				<a href="/contributing/">
					Contributing
				</a>
				<ul class="site-navigation__subnav">

					<li class="site-navigation__item {% if page.url == '/contributing/code-of-conduct/' %}site-navigation__item--current{% endif %}">
						<a href="/contributing/code-of-conduct/">
							Code of Conduct
						</a>
					</li>

					<li class="site-navigation__item {% if page.url == '/contributing/communications/' %}site-navigation__item--current{% endif %}">
						<a href="/contributing/communications/">
							Communications
						</a>
					</li>

					<li class="site-navigation__item {% if page.url == '/contributing/designers/' %}site-navigation__item--current{% endif %}">
						<a href="/contributing/designers/">
							Designers
						</a>
					</li>

					<li class="site-navigation__item {% if page.url == '/contributing/developers/' %}site-navigation__item--current{% endif %}">
						<a href="/contributing/developers/">
							Developers
						</a>
					</li>

				</ul>
			</li>

			<li class="site-navigation__item {% if page.url == '/contact/' %}site-navigation__item--current{% endif %}">
				<a href="/contact/">
					Contact
				</a>
			</li>

		</ul>
	</nav>

</header>
