
<header role="banner" class="site-header">
	<a href="/" class="site-brand">
		<img src="/resources/brand/logo.svg" alt="" class="site-brand__logo"/>
		<span class="site-brand__name">Pa11y</span>
	</a>

	<div class="site-nav" aria-label="Main Navigation">
		<nav role="navigation">
			<ul class="site-nav__menu clearfix" tabindex="0" role="menubar" aria-controls="st1" >
				<li class="site-nav__item">
					<a href="/" class="site-nav__link {% if page.url == '/' %}site-nav__link--current{% endif %}">
						Home
					</a>
				</li>

				<li class="site-nav__item">
					<a href="/news/" class="site-nav__link {% if page.url contains '/news/' %}site-nav__link--current{% endif %}">
						News
					</a>
				</li>

				<li class="site-nav__item">
					<a href="/tutorials/" class="site-nav__link {% if page.url == '/tutorials/' %}site-nav__link--current{% endif %}">
						Tutorials
					</a>
				</li>

				<li class="site-nav__item site-nav__item--has-submenu" data-js-menu="true">
					<button class="site-nav__link site-nav__link--button {% if page.url == '/contributing/' %}site-nav__link--current{% endif %}" aria-haspopup="true">
						Contributing
					</button>

					<ul class="site-nav__menu site-nav__menu--sub" aria-label="submenu" tabindex="0">
						<li class="site-nav__item site-nav__item--sub">
							<a href="/contributing" tabindex="0" class="site-nav__link {% if page.url == '/contributing/' %}site-nav__link--current{% endif %}">
								Overview
							</a>
						</li>

						<li class="site-nav__item site-nav__item--sub">
							<a href="/contributing/code-of-conduct/" tabindex="0" class="site-nav__link {% if page.url == '/contributing/code-of-conduct/' %}site-nav__link--current{% endif %}">
								Code of Conduct
							</a>
						</li>

						<li class="site-nav__item site-nav__item--sub">
							<a href="/contributing/communications/" tabindex="0" class="site-nav__link {% if page.url == '/contributing/communications/' %}site-nav__link--current{% endif %}">
								Communications
							</a>
						</li>

						<li class="site-nav__item site-nav__item--sub">
							<a href="/contributing/designers/" tabindex="0" class="site-nav__link {% if page.url == '/contributing/designers/' %}site-nav__link--current{% endif %}">
								Designers
							</a>
						</li>

						<li class="site-nav__item site-nav__item--sub">
							<a href="/contributing/developers/" tabindex="0" class="site-nav__link {% if page.url == '/contributing/developers/' %}site-nav__link--current{% endif %}">
								Developers
							</a>
						</li>

						<li class="site-nav__item site-nav__item--sub">
							<a href="/contributing/companies/" tabindex="0" class="site-nav__link {% if page.url == '/contributing/companies/' %}site-nav__link--current{% endif %}">
								Companies
							</a>
						</li>
					</ul>
				</li>

				<li class="site-nav__item">
					<a href="/contact/" class="site-nav__link {% if page.url == '/contact/' %}site-nav__link--current{% endif %}">
						Contact
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
