<!DOCTYPE html>
<html lang="en-GB">
<head>

	<!-- Page meta-information -->
	<meta charset="utf-8"/>
	<title>{{page.title}}</title>
	<meta name="description" content="{{page.description}}"/>
	{% if page.sitemap == false %}<meta name="robots" content="noindex"/>{% endif %}

	<!-- Site links -->
	<link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap"/>
	<link rel="canonical" href="{{site.github.url}}{{ page.url | replace: 'index.html', '' }}"/>

	<!-- Styles -->
	<meta name="viewport" content="width=device-width"/>
	<!--[if gt IE 8]><!--><link rel="stylesheet" href="/asset/style/site.css"/><!--<![endif]-->

	<!-- Icons -->
	<link rel="icon" href="/favicon.png" type="image/png"/>
	<link rel="shortcut icon" href="/favicon.ico"/>
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/resources/brand/favicon/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/resources/brand/favicon/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/resources/brand/favicon/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/resources/brand/favicon/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/resources/brand/favicon/apple-touch-icon-60x60.png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/resources/brand/favicon/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/resources/brand/favicon/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/resources/brand/favicon/apple-touch-icon-152x152.png" />
	<link rel="icon" type="image/png" href="/resources/brand/favicon/favicon-196x196.png" sizes="196x196" />
	<link rel="icon" type="image/png" href="/resources/brand/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/png" href="/resources/brand/favicon/favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="/resources/brand/favicon/favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="/resources/brand/favicon/favicon-128.png" sizes="128x128" />
	<meta name="application-name" content="{{page.title}}"/>
	<meta name="msapplication-TileColor" content="#FFFFFF" />
	<meta name="msapplication-TileImage" content="/resources/brand/favicon/mstile-144x144.png" />
	<meta name="msapplication-square70x70logo" content="/resources/brand/favicon/mstile-70x70.png" />
	<meta name="msapplication-square150x150logo" content="/resources/brand/favicon/mstile-150x150.png" />
	<meta name="msapplication-wide310x150logo" content="/resources/brand/favicon/mstile-310x150.png" />
	<meta name="msapplication-square310x310logo" content="/resources/brand/favicon/mstile-310x310.png" />

</head>
<body>

	<!-- Tracking -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-45789635-1', 'auto');
		ga('send', 'pageview');
	</script>

	<div class="page">

		{% include header.html %}

		<main role="main">
			{{content}}
		</main>

		{% include footer.html %}

	</div>
	<script type="text/javascript" src="/asset/script/site.js">
</body>
</html>
